* {
    margin: 0;
    padding: 0;
}
.clearFix::after {
    content: '';
    display: block;
    clear: both;
}



ul {
    box-sizing: border-box;
    width: 1011px;
    height: 199px;
    background: #FFFFFF;
    padding: 29px 0;
    margin: 0 auto;
    list-style: none;
}

ul>li {
    position: relative;
    float: left;
    width: 126px;
    height: 141px;
    background: #C4C4C4;
    margin-right: 51px;
}

li::after{
    content: '';
    position:absolute;
    left: 151px;
    top: 29px;
    width: 1px;
    height: 86px;
    background: #DFDFDF;
}

li:last-child {
    margin-right: 0;
}
li:last-child::after {
    width: 0;
}
