$radius: 4px;
$bgColor: 3e425f;

.box {
  width: 250px;
  height: 100px;
  margin: 0 auto;
  border-radius: $radius;
  background-color: $bgColor;
  color: #fff;

  display: flex;
  align-items: center;
  box-sizing: border-box;
}
