html,
body {
  height: 100%;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* 清除浮动 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* 浏览器都有自己的默认样式，以上部分为清除浏览器默认样式 */
.ranking {
  margin: 100px auto;
  width: 600px;
  height: 370px;
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2),
              4px 0 0 0px #FFFFFF;
}
.top {
  box-sizing: border-box;
  width: 600px;
  height: 78px;
  padding: 20px 32px 18px;
  border-bottom: 2px solid #F2F2F5;
  margin-bottom: 20px;
}

.right {
  float: right;
}
.star,
.number,
.lovevalue {
  float: left;
  width: 140px;
  height: 40px;

  font-family: "PingFang SC";
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: #333333;
}
.number,
.lovevalue {
  float: left;
  width: 84px;
  color: #FF830A;
}
.lovevalue {
  float: right;
  color: #333333;
  margin-left: 10px;
}

.content {
  position: relative;
  width: 536px;
  height: 272px;
  margin: 0 auto;
}
.content::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;

  width: 96px;
  height: 96px;
  background: url(./images/Mask\ Group@2x.png) no-repeat center;
  background-size: contain;
}


.flower>p:first-child,
.flower>p:last-child {
  float: left;

  width: 106px;
  height: 34px;

  font-family: "PingFang SC";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #333333;
  margin-top: 4px;
  margin-bottom: 14px;
}
.flower>p:last-child {
  width: 70px;
}
.flower>p:nth-child(2) {
  float: left;
  width: 88px;
  height: 40px;

  font-family: "PingFang SC";
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  color: #333333;
  margin-right: 10px;
  margin-bottom: 12px;
}

.button {
  box-sizing: border-box;
  width: 140px;
  height: 52px;
  line-height: 52px;
  border-radius: 4px;
  background: #FF8140;
  border: 2px solid #F77C3D;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.button>p {
  width: 96px;
  height: 50px;

  font-family: "PingFang SC";
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: #FFFFFF;
  text-align: center;
}

.chance {
  width: 536px;
  height: 68px;

  font-family: "PingFang SC";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #808080;
  margin-bottom: 12px;
}


.rank>p {
  float: left;
  width: 232px;
  height: 34px;

  font-family: "PingFang SC";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #333333;
}

.rank>p:nth-child(2) {
  width: 77px;
  font-weight: 500;
}
.rank>p:last-child {
  float: right;
  width: 86px;
  color: #EB7350;
}