body {
  margin: 0;
}

ul {
  width: 234px;
  margin: 0px;
  padding: 20px 0;
  list-style: none;
  background-color: #7B8795;
  color: #FFFFFF;
}

ul li {
  position: relative;
  height: 42px;
  line-height: 42px;
  padding-left: 30px;
}

ul li::after {
  content: '';
  position: absolute;
  top: 15px;
  right: 20px;
  width: 12px;
  height: 12px;
  background: url(./images/right-point.png) no-repeat center/contain;
}

ul li:hover {
  background: #FD6821;
}
