* {
  box-sizing: border-box;
}

.topnav {
  background-color: #333;
  display: flex;
  a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover {
      background-color: #ddd;
      color: black;
    }
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: none;
  width: calc(100% / 3);
  padding: 0 4px;
  img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 600px) {
  .topnav {
    /* ??? */
    display: flex;
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}
