$size: 50px;
.box {
  width: $size*5;
  height: $size+$size;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #3e425f;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}
