html,
body {
  height: 100%;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* 浏览器都有自己的默认样式，以上部分为清除浏览器默认样式 */

ul {
  color: #ffffff;
  background-color: #282a35;
  display: flex;
}

li {
  font-size: 14px;
  margin: 0 10px;
}
