* {
  margin: 0px;
  padding: 0px;
}

header {
  height: 50px;
  background: #ffffff;
  border: 1px solid #cccccc;
}
.clearfix {
  contain: "";
  display: block;
  clear: both;
}

.left {
  float: left;
  margin-left: 110px;
}
.left > img {
  float: left;
  width: 80px;
  height: 27px;
  margin: 11px 30px 12px;
}
input {
  width: 470px;
  height: 30px;
  margin: 11px auto 9px;
  background: #f2f2f2;
  padding-left: 10px;
  border: none;
  outline: 0;
}
input:focus {
  border: 1px solid #ff830a;
  background: #fff;
}
.search {
  float: right;
  width: 470px;
  height: 30px;
  position: relative;
}
.search > img {
  width: 16px;
  height: 16.02px;
  position: absolute;
  top: 18px;
  right: 15px;
}
.right {
  float: right;
  margin-right: 105px;
}
a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: 24px;
  height: 12px;
  margin: 19px 0 auto 37px;
  font-family: "PingFang SC";
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}

.right > a:last-child {
  margin-left: 21px;
}
.right > a:nth-child(5) {
  margin-left: 30px;
}

.right > a:first-child::before,
.right > a:nth-child(2)::before,
.right > a:nth-child(3)::before,
.right > a:nth-child(4)::before {
  content: "";
  position: absolute;
  left: -23px;
  width: 17px;
  height: 17px;
  background: url(./images/first-page.png) no-repeat center;
  background-size: contain;
}
.right > a:nth-child(2)::before {
  background: url(./images/video.png) no-repeat center;
  background-size: contain;
}
.right > a:nth-child(3)::before {
  background: url(./images/game.png) no-repeat center;
  background-size: contain;
}
.right > a:nth-child(4)::before {
  background: url(./images/find.png) no-repeat center;
  background-size: contain;
}

.right > a:last-child::after {
  content: "";
  position: absolute;
  left: -13px;
  width: 1px;
  height: 14px;
  background: #d9d9d9;
}
